<h1>Store general stats</h1>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
      <th scope="col" class="text-center status">
      <%= link_to 'Product Count', controller: 'admin/products' %>
    </th>
      <th scope="col" class="text-center status">
      <%= link_to 'Category Count', controller: 'admin/products' %>
    </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td class="text-center status"><%= @product_count %></td>
      <td class="text-center status"><%= @category_count %></td>
      </tr>
    </tbody>
  </table>
</div>
