// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.table-bordered{
  margin-top: 45px;
}

.text-center.status {
  padding: 30px;
  font-size: 2em;
  background-color: rgba(211, 230, 248, 0.644);
}
